node_modules

# compiled output
ember-app/dist
ember-app/tmp
frontend

# dependencies
ember-app/node_modules
ember-app/bower_components

# misc
ember-app/.sass-cache
ember-app/connect.lock
ember-app/coverage/*
ember-app/libpeerconnection.log
ember-app/npm-debug.log
ember-app/testem.log
.DS_Store
