<form>
  <label for="boardname">Which board are you testing?</label>

  {{simple-select
      content=boards 
      optionLabelPath="human" 
      optionValuePath="machine" 
      action="boardChange" 
      prompt="Select a board"}}

  <button {{action "startTest"}}>Start test!</button>
</form>
