<div id="menu">
  {{#link-to "start" class="button headerlink"}}Startover{{/link-to}}
  {{#link-to "about" class="button headerlink"}}About{{/link-to}}
  {{#link-to "help" class="button headerlink"}}Help{{/link-to}}
</div>
