<div id="menu">
{{#unless hideStartOverLink}}
  {{#if isLoggedIn}}
    {{#link-to "start" class="headerlink"}}Startover{{/link-to}}
  {{/if}}
{{/unless}}
  {{#link-to "help" class="headerlink"}}Help{{/link-to}}
  {{#if isLoggedIn}}
    {{#link-to "logout" class="headerlink"}}Log out{{/link-to}}
  {{/if}}
</div>
