<form id="reportform">
  <fieldset>
    <label for="reportNotes">Any additonal notes you'd like to add?</label><br/>
    {{textarea name=notes id="reportNotes" cols="80" rows="6" value=reportNotes}}
  </fieldset>
  <fieldset>
    {{input type="checkbox" id="wantsInvite" name="wantsInvite" checked=wantsInvite }} 
    <label for="wantsInvite">I would like to earn a 'org badge' via invitation to the AVRGirl testers team on Github.</label>
  </fieldset>
  <fieldset>
    {{input type="checkbox" id="isOk" name="isOk" checked=isOk}} 
    <label for="isOk">I am ok with all of the above information being stored remotely upon submission {{#link-to 'help'}}Privacy Policy{{/link-to}}</label>
  </fieldset>
  <button {{action 'sendReport'}}>Send Report</button>
</form>
