<h2>Help</h2>

<p>Confused? Help is here!</p>

<p>This application was designed as a 'quick start' for testing AVRGirl for the authors of the project. It requires no programming, no boilerplate setup, and was intended to be as painless as possible.</p>

<p>The UI should guide you through the process, but it'll go something like this:</p>

<ol class="privacy">
  <li>You'll click a link to login via Github. You will need to give permission to this app to access your public Github info only. We don't need anything more than your username.</li>
  <li>You'll plug in your Arduino via USB to the computer running this app.</li>
  <li>You'll select from the drop down shown the name of the Arduino board you just plugged in. It should be written on the board itself if you're unsure.</li>
  <li>Clicking 'Start the test' button will begin the test. A program will be uploaded to your Arduino, <strong>so anything you had installed on it previously will be erased</strong>.</li>
  <li>When the test is complete, this app will guide you through submitting a report of how it all went.</li>
  <li>That's it!</li>
  <li>You can log out of the app any time, if you change your mind or if you're finished up.</li>
</ol>

<p>If you're interested in what we're doing with this data, please see our {{#link-to 'privacy'}}privacy policy{{/link-to}}.</p>

<p>If you have any questions, or if something doesn't appear to be working quite right with this testing suite, feel free to reach out to @noopkat on Twitter or Github.</p>
