<div class="avrgirl">
  <img src="/assets/img/avrgirl3.png" width="250"/>
</div>
<div id="content" class="githublogin">
  <p>Thank you for agreeing to test pilot AVRGirl Arduino!</p>
  <p><strong>Note: running this test will overwrite any code you have saved on your Arduino.</strong></p>
  <p>We'll be logging you in using your Github account. Click the button below to get started.</p>

  <a href="" {{action 'popUpAuth'}} class="button login">Log in via Github</a>
</div>
