<h2>Privacy Policy</h2>

<p>Hey! You're probably wondering what's going to happen to your data should you submit a report within this app.</p>

<p>We'll start by letting you know what we <strong>won't</strong> be doing with your data:</p>

<ul class="privacy">
  <li>We won't sell or give away your data to third parties.</li>
  <li>We won't be contacting you without your permission.</li>
  <li>We won't be using your data for any reason other than to assist with making AVRGirl a better experience.</li>
</ul>

<p>So what do we want to do with your data?</p>

<ul class="privacy">
  <li>We may invite you (with your permission) to the AVRGirl organisation's testers team, to say thank you for helping us test.</li>
  <li>We may create a cool public leaderboard in the future showing which boards have been tested by whom. If you'd prefer not to be on this leaderboard, check the 'anonymous' checkbox when submitting the report.</li>
  <li>We may use the information provided to open an issue on the AVRGirl Arduino Github repo if there were testing errors shown in your report. Your Github username/identity will not be used to open the issue itself, but we may @ mention you if you elected that you didn't mind being contacted for further info. You're welcome to comment on the issue (or not), or even open your own separate issue if you feel you can provide more information. It's up to you! We won't hound you.</li>
</ul>
