<div class="avrgirl">
  <img src="/assets/img/avrgirl3.png" width="250"/>
</div>
<div id="content">
<p>Ok, let's do it, {{#user-name}}{{/user-name}}!</p>

{{#board-form boards=model}}{{/board-form}}
</div>
