<h1>AVRGirl Arduino tester</h1>

<p>Yay {{#user-name}}{{/user-name}}, ready to test?</p>

{{#board-form boards=model}}{{/board-form}}

{{#board-character}}{{/board-character}}

{{#header-links}}{{/header-links}}
