<div class="avrgirl">
  <img src="/assets/img/avrgirl3.png" width="250"/>
</div>
<div id="content" class="githublogin">
  <h2 class="yay">Report Sent!</h2>
  <p>Thank you so much for taking the time to test AVRGirl Arduino!</p>
</div>


